<!DOCTYPE html>
<html lang="pt">
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/blog.css' %}">
</head>
<body>
    <header>
        <h1>Rafael Paulo</h1>

        <section class="weatherMain">
            <div class="weatherDisplay">
                <p class="temperaturaMin"></p>
                <p class="temperaturaMax"></p><p class="icon"></p>
                <p class="dataTemp"></p>
            </div>
        </section>
        <section>
            <div id="relogio" onload="currentTime()" class="relogio"></div>
        </section>
        <nav>
            <a href="{% url 'portfolio:home' %}">Home</a>
            <a href="{% url 'portfolio:licenciatura' %}">Portfolio</a>
            <a href="{% url 'portfolio:projetos' %}">Projetos</a>
            <a href="{% url 'portfolio:tfc' %}">TFC's</a>
            <a href="{% url 'portfolio:blog' %}">Blog</a>
            <a href="{% url 'portfolio:quizz' %}">Quizz</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'portfolio:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'portfolio:login' %}">Login</a>
            {% endif %}
        </nav>
    </header>

    <script>
        var weatherSubmit = document.querySelector('.weatherSubmitCity')
        var inputValue = document.querySelector('.weatherCity')

        var temperaturaMax = document.querySelector('.temperaturaMax')
        var temperaturaMin = document.querySelector('.temperaturaMin')
        var dataTemp = document.querySelector('.dataTemp')


        fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')
            .then(response => response.json())
            .then(data => {
                temperaturaMax.innerHTML = data['data'][0]['tMax'];
                temperaturaMin.innerHTML = data['data'][0]['tMin'];
                temperaturaMin.innerHTML+='º-';
                dataTemp.innerHTML = data['data'][0]['forecastDate'];
                if (temperaturaMax.innerHTML>25){
                    temperaturaMax.innerHTML+='º🌞'
                }else{
                    temperaturaMax.innerHtml+='º⛅'
                }

            })
    </script>

    <script>
        function currentTime() {
              var date = new Date();
              var horas = date.getHours();
              var minutos = date.getMinutes();
              var segundos = date.getSeconds();

              if (horas < 10){
                  horas = "0" + horas;
              }
              if (minutos < 10){
                  minutos = "0" + minutos;
              }
              if (segundos < 10){
                  segundos = "0" + segundos;
              }
            document.getElementById("relogio").innerText = horas + ":" + minutos + ":" + segundos;
            var tempo = setTimeout(function(){ currentTime() }, 1000);
        }

        currentTime();
    </script>

	<main>
        {% block main %}
	    {% endblock main %}
    </main>
    <footer>
        ULHT, 2022
    </footer>
</body>
</html>