{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}

    <div class = "contain">
        {% for cadeira in cadeiras %}
            <div class="box">
                <img src="{{ cadeira.imagem.url }} ">
                <h3 class="center">{{ cadeira.nome}}</h3>
                <div>
                    <p>-{{ cadeira.descricao }}</p>
                    <p>-{{ cadeira.ano }}ºAno</p>
                    <p>-{{ cadeira.docente_teorica.nome}}</p>
                    <p>-{{ cadeira.docente_pratica }}</p>
                    <p>-Projeto realizado: {{ cadeira.projetos.nome }}</p>
                    {% if cadeira.classificacao == 0 %}
                        <p>😭</p>
                    {% elif cadeira.classificacao == 1 %}
                        <p>✨</p>
                    {% elif cadeira.classificacao == 2 %}
                        <p>✨✨</p>
                    {% elif cadeira.classificacao == 3 %}
                        <p>✨✨✨</p>
                    {% elif cadeira.classificacao == 4 %}
                        <p>✨✨✨✨</p>
                    {% elif cadeira.classificacao == 5 %}
                        <p>✨✨✨✨✨</p>
                    {% endif %}
                </div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'portfolio:editcadeira' cadeira.id %} " class="btn edit_btn">Editar</a>
            {% endif %}
            </div>
        {% endfor %}
        {% if request.user.is_authenticated %}
            <span class="boxNew">
                <div class="new">
                        <a href="{% url 'portfolio:newcadeira' %}" class="btn btn">Nova Cadeira</a>
                </div>
            </span>
        {% endif %}
    </div>

{% endblock main %}