{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}
    <form class="quizz_form" method="post">
        {% csrf_token %}
        <div>
            <input placeholder="Primeiro nome" type="text" id="nome" name="nome"><br>
        </div>
        <div>
            <p>Diga qual é a principal linguagem de PW</p><br>
            <input type="radio" id="html" name="fav_language" value="html">
            <label for="html">HTML</label><br><br>
            <input type="radio" id="css" name="fav_language" value="css">
            <label for="css">CSS</label><br><br>
            <input type="radio" id="javascript" name="fav_language" value="javascript">
            <label for="javascript">JavaScript</label><br><br>
            <input type="radio" id="LinkedIn" name="fav_language" value="linkedin">
            <label for="LinkedIn">LinkedIn</label><br><br>
        </div>
        <div>
            <p>Qual dos seguintes é o melhor esquema de cores?</p><br>
            <input type="radio" id="r1" name="cores" value="r1">
            <label for="r1"> 50-25-25</label><br><br>
            <input type="radio" id="r2" name="cores" value="r2">
            <label for="r2"> 70-20-10</label><br><br>
            <input type="radio" id="r3" name="cores" value="r3">
            <label for="r3"> 60-30-10</label><br><br>
        </div>

        <input id="submit" type="submit" value="Submit">
    </form>

    <img id="quizz_img" src={% static 'portfolio/images/graf.png' %} alt="graf.png">
{% endblock main %}